---
layout: ""
page_title: "Provider: ipify"
description: |-
  Provider to interact with the ipify service
---

# ipify Provider

Provider to interact with the ipify service.  Returns your IPv4 or IPv6 public IP in standard and CIDR notation.
Use the CIDR notation for securing cloud infrastructure with firewall rules when testing builds.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}