---
layout: ""
page_title: "Provider: ipify"
description: |-
  Provider to interact with the ipify service
---

# ipify Provider

Provider to interact with the ipify service.  Presents your public ip in standard or CIDR notation.  Works with IPv4 and IPv6.
Example use for the CIDR notation is building cloud infrastructure and securing public access using firewall rules.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}